config:
    driver: pdo_mysql
    host: localhost
    db_name: silexpack
    db_user: root
    db_password: null
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt