<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ path('index') }}">{{ siteName }}</a>
		</div>
		<ul class="nav navbar-nav">
			{% for page in pages %}
				{#<li class="active"><a href="#">Home</a></li>#}
				<li><a href="{{ path(page.routeName) }}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</nav>